<div id="mySlider" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#mySlider" data-slide-to="0" class="active"></li>
		<li data-target="#mySlider" data-slide-to="1"></li>
		<li data-target="#mySlider" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="caroseul-item active">
			<img src="~/img/img-1.png" class="d-block img-fluid"/>
		</div>
		<div class="caroseul-item">
			<img src="" class="d-block img-fluid" />
		</div>
		<div class="caroseul-item">
			<img src="" class="d-block img-fluid" />
		</div>
	</div>


	<a href="#mySlider" data-slide="next" class="carousel-control-next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>